# Furnished Finder credentials
EMAIL=

# Trip details
MOVE_IN_DATE=05/01/2026
MOVE_OUT_DATE=05/31/2026

# Leave NUM_PEOPLE blank to default to the number of bedrooms in each listing
# Options: 1, 2, 3, 4, 5+
NUM_PEOPLE=

# Options: Email, Text, Any, Phone
CONTACT_METHOD=Email
# Options: Other, Digital Nomad, Insurance Housing, Traveling Healthcare, Long Term Housing, Business/Work, Military, Student, Relocation/Transition
TRAVEL_REASON="Business/Work"
HAS_PETS=No
MESSAGE=


# delay between actions in milliseconds (for debugging and to reduce bot detection, set to 0 for max speed)
SLOW_MO=1000